<div class="container mt-4 ">
      <h2 class="text-center mt-2">Create New Classmate</h2>

      <%= bootstrap_form_for(@classmate) do |f| %>
        <%= f.text_field :name, placeholder: "Input your name..." %>
        <%= f.text_area :motto, placeholder: "Input your quote ...", label: "Quote" %>
        <div class="row">
           <div class="col-md-1">
               <%= link_to "Back", classmates_path, class: "btn btn-warning" %>
           </div>
           <div class="col-md-11">
               <%= f.submit  "Create",  class:"btn btn-success" %>
           </div>
        </div>
      <% end %>
</div>